@{
    ViewData["Title"] = "Home Page";
}


<div class="container mt-5">
    <div style="text-align: center;">
        <h1>Naručite hranu</h1>
        <p class="lead">iz udobnosti vašeg doma!</p>
    </div>
    <div class="text-center">
        <a class="text-light btn btn-info btn-default" asp-area="Identity" asp-page="/Account/Register">Registruj se</a>
    </div> 
</div>

<a href="/Restoran/Prikaz">Prikaz restorana</a>
<a href="/Kategorija/Prikaz">Prikaz kategorija</a>